files=(
  ./default.nix
  ./deps.nix
  ./flake.lock
  ./flake.nix
  ./shell.nix
)

for file in ${files[@]}; do
  watch_file $file
done

# import flake development environment
eval "$(nix print-dev-env --no-write-lock-file)"
