# IDE
.vs/
.vscode/
.idea/

# Build Artifacts
obj/
bin/
bin_/
nupkg/
[Bb]uild/

# BenchmarkDotNet Artifacts
BenchmarkDotNet.Artifacts/

# User Preferences
*.user

# MacOS Cache
*.DS_Store

# Nix
.envrc
shell.nix
