name: .NET CI

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - 0.6.x
      - avalonia
  pull_request:
jobs:
  matrixpublish:
    continue-on-error: true
    strategy:
      matrix:
        runtime: [linux-x64, osx-x64, win-x64]
        include:
          - runtime: linux-x64
            os: ubuntu-latest
          - runtime: osx-x64
            os: ubuntu-latest
          - runtime: win-x64
            os: windows-latest
    # TODO: release or debug build
    name: ${{ matrix.runtime }} ${{ matrix.os }} Publish
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/build-wrapper
        with:
          runtime: ${{ matrix.runtime }}

  fedorapublish:
    runs-on: ubuntu-latest
    name: Fedora Publish
    container:
      image: fedora
    steps:
      - name: Install required packages
        run: sudo dnf install -y rpm-build systemd-rpm-macros libicu openssl-libs zlib krb5-libs git dotnet-sdk-8.0 tree jq

      - name: Checkout OpenTabletDriver Repository
        uses: actions/checkout@v4

      # https://github.com/actions/checkout/issues/1169
      - run: git config --system --add safe.directory /__w/OpenTabletDriver/OpenTabletDriver

      - name: RPM Build
        uses: ./.github/actions/build-linux-for-distro
        with:
          runtime: 'linux-x64'
          package-name: 'RedHat'

  linter:
    name: Lint Code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          # Full git history is needed to get a proper list of changed files
          fetch-depth: 0

      - name: Setup .NET Core
        uses: ./.github/actions/setup-dotnet

      - name: Lint Changed Files
        run: |
          mapfile -t files < <(git diff --name-only --diff-filter=AM HEAD^ HEAD | grep '.*\.cs$')
          if [ ${#files[@]} -ne 0 ]; then dotnet format OpenTabletDriver.sln --verify-no-changes --include "${files[@]}"; fi

  unittests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET Core
        uses: ./.github/actions/setup-dotnet

      - name: Run tests
        run: dotnet test

  slnf:
    name: Validate Solution Filters
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET Core
        uses: ./.github/actions/setup-dotnet

      - name: Windows
        run: dotnet restore OpenTabletDriver.Windows.slnf

      - name: Linux
        run: dotnet restore OpenTabletDriver.Linux.slnf

      - name: MacOS
        run: dotnet restore OpenTabletDriver.MacOS.slnf
